<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
function myFunction() {
var text1= $('#text1').val();
  $.ajax({
              url: "/spell_suggest",
              type: "POST",
              data: {text1:text1}
          }).done(function(response) {
            var html= "<br><br><br>Spelling Suggestions:";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").append(html);
            });
};
</script>
<body>
    <p>
        Spelling suggestions <br><br>
            Mis-spelled Word<input type="text" id="text1" name="text1"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >
    </div>
</body>
</html>