{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <label for="id_words">Enter word with spelling mistake </label>
      <input class="form-control" type="text" id="id_words" name="text1"><br />

      <button id="clicked" onclick="myFunction()" type="button" class="btn">Submit</button>

    </div>
  </div>
</div>

<div class="show-data">
</div>
{% endblock %}